
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.button-class {
	background: #fff;
	border-color: #fff;
	border-style: none;
}
/* STYLE RESET ABOVE */

@font-face {
    font-family: "GT America";
    src: url('fonts/GT America Regular/GT America Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "GT America";
    src: url('fonts/GT America Bold/GT America Bold.ttf') format("truetype");
    font-weight: bold;
  font-style: normal;

}

@font-face {
    font-family: "GT America";
    src: url('fonts/GT America Bold Italic/GT America Bold Italic.ttf') format("truetype");
    font-weight: bold;
    font-style: italic;
  
}


/* VARS */
:root{
 --teal:rgb(69, 218, 190);
 --bluegrey:rgb(36, 48, 62);
 --green:rgb(79, 168, 96);
 --red:#FA5959;
 font-family: "GT America";
 box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

.flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6{
font-weight:bold;}

h2{
    font-size:20px;
    letter-spacing: .1px;
}

.bold-italic{
    font-weight: bold;
    font-style: italic;
}

.small-font{
    font-size: 14px;
}

button{
    border-radius: 5px;
    font-size: 18px;
    
}

header{
    box-sizing: border-box;
    width:100%;
    min-height: 100px;
    color: var(--bluegrey);
    background-color: var(--teal);
  
    padding: 7px 10%;
    justify-content: space-between;
}


.header-item-1>h2{
    line-height: 24px;
    
}

.header-item-1>div{
    line-height: 21px;
    max-width: 80ch;
    min-width: 60ch;
}


.donate-button{
    background-color: var(--red);
    color: white;
    min-width:max-content;
    margin-left: 10%;
    padding: .75em 1.5em;
    justify-self: flex-end;
    align-self: center;
    max-width: max-content;
    

    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.397);
} 

button:hover{
    box-shadow: none; 
}

.nav-container{
    /* border: 1px solid blue; */
    box-sizing: border-box;
    min-width:100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}
nav{
    /* border: 3px solid red; */
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    flex-basis:100%;
    min-height: 75px;
    gap: 10px;
    min-width:fit-content;


    }

/* Visualizing flex border. temporary */

nav>*{
    /* border:1px solid red; */
    /* min-width: max-content; */
}

.contact-us-button{
    background-color: var(--green);
    font-size: 16px;
    color: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.397);
    padding: .75em 1.5em;
}

button:active{
    opacity: .8;
}

#fp-logo{
    width: 200px;
}

#select-language-icon{
    width: 30px;
}

.nav-links{
    color:rgb(70, 68, 68);
    margin: 0 10%;
    justify-content: space-between;
    gap:10px;
}

.nav-links>div{
    flex-shrink:1;
}

.art-card{
    box-sizing: border-box;
    height: 400px;
    min-width: 100%;
    padding: 0 0 0 10%;
    background-color: var(--bluegrey)
}

.art-text{
    max-width: fit-content;


}


.img-container{
    background-image: url('assets/drawing.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position:100% 100%;
    flex-basis: 100%;
    padding-left: 200px;
}
